<hr />
<%= div_for post, class: 'post-preview' do %>
  <%= link_to post, class: 'post-title' do %>
    <h2><%= post.title %></h2>
  <% end %>

  <p class="post-timestamp">
    <span class="post-info-time">
      <span class="glyphicon glyphicon-time"></span>
      Posted <%= time_ago_in_words post.created_at %>&nbsp;ago
    </span>
    <span class="post-info-user">
      <span class="glyphicon glyphicon-user"></span>
      <%= post.author_full_name %>
    </span>
  </p>
  <p class="post-body"><%= post.body %></p>

  <div class="clearfix">
    <%= link_to 'Comments', post_path(post, anchor: 'disqus_thread'), class: 'btn btn-link pull-right' %>
    <%= render 'tags/inline', tags: tags %>
  </div>
<% end %>
