<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Welcome to the Blog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 show-all-posts">
      <% @posts.each do |post| %>
        <%= render 'preview', post: post, tags: post.tags %>
      <% end %>
      <div class="text-center">
        <%= paginate @posts %>
      </div>
      <%= render 'empty' if @posts.empty? %>
    </div>
    <%= render 'sidebar' %>
  </div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    // Required: on line below, replace text in quotes with your forum shortname
    var disqus_shortname = "<%= ENV['DISQUS_SHORTNAME'] || 'rubymondayblogdevelopment' %>";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
</div>
