<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h1>SHOW POST</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 show-post">
			<h2><%= @post.title %></h2>
			<p><%=  @post.body %></p>
			<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
			&nbsp;
			<p><%= image_tag @post.image.url(:thumb) %></p>
			<% if @post.tags.any? %>
	  			<% @tags.each do |t| %>
                                  <%= link_to t.content, tag_path(t), class: "btn btn-default btn-sm" %>
	  			<% end %>
			<% end %>
			<hr />
			<div class="row">
				<div class="col-md-12 comments">
					<h2>COMMENTS</h2>
					<p>Will need to add display all comments functionality here (partial?), and the ability to add your own.</p>
				</div>
			</div>
		</div>
		<%= render 'sidebar' %>
	</div>
	

</div>

