<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h1>SHOW POST</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 show-post">
			<h2><%= @post.title %></h2>
			<p>
				<% if @post.image %>
					<%= image_tag @post.image.url(:thumb), class: 'blog-img' %>
				<% end %>

				<%=  @post.body %>
			</p>
			<p>
				&nbsp;
				<% if @post.tags.any? %>
					<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> &nbsp;
		  			<% @tags.each do |t| %>
	                     <%= link_to t.content, tag_path(t), class: "btn btn-default btn-sm" %>
		  			<% end %>
				<% end %>
			</p>
			<hr />
			<div class="row">
				<div class="col-md-12 comments" id="comments">
					<h2>COMMENTS</h2>
					<p>Coming Soon</p>
				</div>
			</div>
		</div>
		<%= render 'sidebar' %>
	</div>


</div>
