<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h1>SHOW POST</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 show-post">
			<h2><%= @post.title %></h2>
			<p>
			<%= image_tag @post.image.url(:thumb), class: 'blog-img' %><%=  @post.body %></p>
			<p>
			<% @post.tags.each do |tag| %>
				<% unless tag.content.empty? %>
				    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
				    &nbsp;
				     <button class="btn btn-default btn-sm"><%= tag.content %></button>
				<% end %>
			<% end %>
		</p>
			<hr />
			<div class="row">
				<div class="col-md-12 comments">
					<h2>COMMENTS</h2>
					<p>Coming Soon</p>
				</div>
			</div>
		</div>
		<%= render 'sidebar' %>
	</div>
	

</div>

